/* 
  Это стили Дизайн системы, сквозные стили для элементов интерфейса
  всего приложения: шрифты, кнопки, инпуты и так далее
*/

@font-face {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/stratosskyengweb-regular.woff2") format("woff2");
}

@font-face {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/stratosskyengweb-medium.woff2") format("woff2");
}

html {
  /* скрывает скролбары в firefox */
  scrollbar-width: none;
}

body {
  font-family: StratosSkyeng;
  overflow: auto;
  font-size: 14px;
  line-height: 18px;
}

/* скрывает скролбары в chrome */
body::-webkit-scrollbar {
  display: none;
}

/* убирает автозаполнение браузера */
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #333 !important;
  background-color: transparent !important;
  background-clip: content-box !important;
}


.button,
.secondary-button {
  display: block;
  padding: 10px 13px 13px;
  font-size: 18px;
  line-height: 22px;
  border-radius: 5px;
  background-color: #ff6b9d;
  color: #ffffff;
  border: none;
  box-shadow: 0 8px 20px rgba(214, 150, 172, 0.4);
}

.link-button {
  display: inline;
  border: 0;
  padding: 0;
  background: none;
  transition: color 0.3s ease;
  position: relative;
  color: #ff6b9d;
  cursor: pointer;
}

/* Линия снизу */
.link-button::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background: #ff6b9d;
  transition: width 0.3s ease;
}

.link-button:hover {
  color: #ff6b9d;
}

.link-button:hover::after {
  width: 100%;
}


.button[disabled="true"],
.secondary-button[disabled="true"] {
  background-color: #f4f5f6;
  color: rgba(153, 153, 153, 0.6);
  pointer-events: none;
}

.secondary-button {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input {
  height: 36px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(4, 18, 27);
  border: none;
  border-radius: 5px;
}

.input .-error {
  background-color: #fff;
}

.input:focus {
  background-color: #fff;
}

.textarea {
  padding: 15px;
  resize: none;
  width: 100%;
  background-color: white;
  height: 100px;
  margin-top: 10px;
  color: #2c2c38;
  caret-color: #e46e9d;
}

.textarea:focus-visible {
  outline: none;
}

strong {
  font-weight: 500;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #000;
  animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes loader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
